.main {
  background-color: yellow;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;

  .main__text {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      width: 150px;
      height: 40px;
      color: yellow;
      padding: 10px;
      background-color: red;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .main__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: blanchedalmond;
    gap: 20px;

    .main__mocApi {
      width: 280px;
      height: 50px;
      border: 1px solid black;
      background-color: aqua;
      border-radius: 8px;
      padding: 10px 0;
      padding-left: 10px;
      padding-right: 5px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }

      h2 {
        margin: 0;
        color: black;
        font-size: 20px;
        font-family: "Courier New", Courier, monospace;
        font-weight: 700;
      }
    }

    .main__mocApi:hover {
      background-color: aquamarine;
    }
  }
}
